body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #0f0f0f;
  border-left: 1px solid black;
  padding: 18px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 1px;
  border-bottom: 10px solid black;
}

.Description {
  white-space: pre-wrap;
}

.time-block {
  text-align: right;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  flex-wrap: nowrap;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #aaaaaa;
  color: white;
}

.present {
  background-color: #d97f7a;
  color: white;
}

.future {
  background-color: #4f864f;
  color: white;
}

.saveBtn {
  border-left: px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #021c22;
  color: white;
  position: relative;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
Footer
© 2022 made with love by CJC.